body {
    background-color:lavender;
    display: flex;
    flex-direction: column;
}
nav {
    background-color: lightblue;
    margin: 0% 5% 2% 5%;
}
nav ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-around;
}
a {
    text-decoration: none;
    color: red;
    border: royalblue solid 2px;
    background-color: royalblue;
    border-radius: 5px;
}
a:hover{
    background-color: slateblue;
    border: slateblue solid 2px;
    color: turquoise;
    font-weight: bold;
}
main{
    margin: auto;
}
section {
    width: 90%;
    margin: 0% 5%;
}
h1{
    text-align: center;
    font-size: 1.5em;
    color: navy;
}
h2{
    font-size: 1.3em;
    color: royalblue;
}
h3 {
    font-size: 1.1em;
    color: rgb(20, 75, 238);
}
p{
    font-size: 1em;
}
form{
    padding: 5%;
    text-align: center;
    border: mintcream solid 2px;
    border-radius: 5px;
    background-image: url(https://img3.goodfon.com/wallpaper/nbig/8/d9/nastroenie-kendo-put-mecha-5214.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

label{
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.vignette {
    margin: 2%;
    border: mintcream solid 2px;
    flex-direction: column;
    display: flex;
}
.vignette p{
    margin: 2%;
}
.vignette img:first-of-type {
    margin-left: 8%;
    margin-right: 3%;
}
.vignette img:last-of-type {
    margin-left: 3%; 
    margin-right: 8%;
}
.picture{
    display: flex;
    flex-direction: row-reverse;
}

img {
    width: 25%;
    margin-right: 3%;
    margin-bottom: 3%;

}
footer{
    text-align: center;
}

body.dark-theme{
 background-color: black;
 color: white;

}
body.dark-theme h1{
    color: cyan;
}
body.dark-theme h2{

}
body.dark-theme h3{

}
body.dark-theme nav{
    background-color: whitesmoke;
}
body.dark-theme a{
    background-color: wheat;
    border: wheat solid 2px;
border-radius: 5px;
}
/* Zone Responsif */
@media screen and (max-width:700px) {
    h1 {
        font-size: 1em;
    }

    h2 {
        font-size: 0.8;
    }
    h3 {
        font-size: 0.7em;
    }
    p{
        font-size: 0.6em;
    }
    .picture {
        display: flex;
        flex-direction: column;
    }
    .picture img {
        width: 70%;
        margin: auto; 
        margin-bottom: 2%;     
    }
    label{
        font-size: 0.6em;
    }
    .vignette img:first-of-type {
        margin: auto;
        margin-bottom: 2%;
    }
    .vignette img:last-of-type {
        margin: auto;
        margin-bottom: 2%;
    }
}

/* Partie carrousel */
#slider {
    width: 100%;
    margin: 0% 12%;
    margin-bottom: 2%;
}
div#slider figure {
    position: relative;
    width: 500%;
    margin: 2%;
    padding: 0;
    font-size: 0;
    left: 0;
    text-align: center;
    animation: 10s slidy infinite;
  }

  div#slider figure img { 
      width: 25%; 
      height: 45vh; 
      float: left; 
    text-align:center;
    margin:auto;
    }

  div#slider { 
      width: 80%; 
      max-width: 1000px; 
      overflow: hidden 
    }
    
  @keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: 0%; }
    45% { left: -133%; } 
    50% { left: -133%; }
    70% { left: -133%; }
    75% { left: -266%; }
    95% { left: -266%; }
    100% { left: -266%; }
  }


/* Carousel avec activation scroolbar */

.carousel{
    margin-bottom: 2%;
}
.carousel-items {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;


}
.carousel-item {
    
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 450px;
    margin-left: 1rem;
    scroll-snap-align: start;
    list-style-type: none;
    width: 30%;
    height: 20vh;
}
.carousel-item-img{
    width: 100%;
    height: 20vh;
}
/* Paralax */
 #parallax{
    background-image: url(./picture/japan.jpg);

    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
} 
img .hidden{
    visibility: visible;
    width: 25%;
    height: 20vh;
}
.kendoAnimate img{
    visibility : hidden;
}
@media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }